urdu/
__pycache__/
Urdu_Word_Dataset/
val/
word_level_model/
word_level_model_1st_try/
wandb/
testing/
unsloth_env/
outputs/
test1_outputs.zip
test1_full_table.csv
eyeballing_results.py
gpu_power_log.csv
nohup.out
output2.out
watchdog.log
watchdog_output.log
generated_samples
output3.out
recognizer_check/
check_recognizer.py
recognizer_check_no_beam_truncate_first_word/
word_samples_legacy/
output4.out
output5.out
word_samples_legacy_finetuned/
inference/active/sample_four_words_legacy.py